<!-- Test Code -->
<!-- <div class="card flex justify-content-center align-items-center gap-2 text-green-400">
  <h1>Hello World</h1>
  <i class="pi pi-android" style="font-size: 2.5rem"></i>
</div> -->

<!-- Test Code -->

<!-- <div class="card flex justify-content-center">
  <p-button label="Check" icon="pi pi-check"></p-button>
</div> -->

<!-- App start -->
<app-navbar></app-navbar>

<div class="main-container card flex justify-content-center">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="card flex align-items-center justify-content-center">
    <p>Copyright &copy; {{ 2023 }} - All Rights Reserved by Kabir's Team</p>
  </div>
  <div class="md:hidden card pr-8  pt-1 flex align-items-center justify-content-center">
    <app-dialmenu></app-dialmenu>
  </div>
</footer>

