/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.main-container {
  min-height: calc(100dvh - 2rem);
  margin: 4rem 0;
}
