
<div class="card" ngFor="let item of numSequence(6)">
  <h1>{{apiDevMessage}}</h1>
</div>
<div class="card my-4 flex align-items-center gap-2 flex-wrap">
  <p-chip label="Action"></p-chip>
  <p-chip label="Comedy"></p-chip>
  <p-chip label="Mystery"></p-chip>
  <p-chip label="Thriller" [removable]="true"></p-chip>
</div>
<div class="card flex justify-content-center">
  <span class="p-buttonset">
      <button pButton pRipple label="Save" icon="pi pi-check"></button>
      <button pButton pRipple label="Delete" icon="pi pi-trash"></button>
      <button pButton pRipple label="Cancel" icon="pi pi-times"></button>
  </span>
</div>
<!-- Iterate part of webpage without any list -->
<ng-container *ngFor="let i of [].constructor(5)">
  <div class="card my-4" *ngIf="loadingProfile">
    <div class="border-round border-1 surface-border p-4 surface-card">
        <div class="flex mb-3">
            <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
            <div>
                <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                <p-skeleton height=".5rem"></p-skeleton>
            </div>
        </div>
        <p-skeleton width="100%" height="150px"></p-skeleton>
        <div class="flex justify-content-between mt-3">
            <p-skeleton width="4rem" height="2rem"></p-skeleton>
            <p-skeleton width="4rem" height="2rem"></p-skeleton>
        </div>
    </div>
  </div>
</ng-container>
